<html>
  <body>
    <h1> Welcome {{ name.username }}! </h1>
    <p> <a href="http://www.google.com/"> not google </a> </p>
    <ul>
      { % for city in city_names % }
      <div>
        <p> {{ city.city_names }} </p>
      </div>
      { % endfor % }
    </ul>
    <hr>
    { % block content % } 
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.city_string.label }}<br>
        {{ form.city_string(size=32) }}
      </p>
      <p>{{ form.remember_me() }} {{ 
        form.remember_me.label }}</p>
      <p>{{ form.submit() }}</p>
    </form>
    { % endblock % }
  </body>
</html>

